<app-schoolnav></app-schoolnav>
<div class="row">
  <div class="col"><h1>Exam Details</h1></div>
  <div class="col-xl-3 d-inline-flex justify-content-center align-items-center align-content-center m-auto" style="width: 60px;"><button class="btn btn-primary align-self-center" (click)="onExport()">Export</button></div>
</div>
<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div class="form-group">
    <div style="background-color:#90ee90" class="form-row">
      <div class="col"><span>First Name</span><input type="text" ngModel class="form-control" placeholder="First Name" required
                                 name="sfname" /></div>
      <div class="col"><span>Last Name</span><input type="text" ngModel class="form-control" placeholder="Last Name" name="slname" /></div>
      <div class="col"><span>Student Id</span><input type="text" ngModel class="form-control" placeholder="School Id"
                                 name="sid"/></div>
      <div class="col"><span>Maths</span><input type="text" ngModel class="form-control"
                                 placeholder="Maths"
                                 name="maths" /></div>
      <div class="col"><span>Chemistry</span><input type="text" ngModel class="form-control" placeholder="Chemistry"
                                 name="chemistry" /></div>
      <div class="col"><span>Biology</span><input type="text" ngModel class="form-control" placeholder="Biology"
                                 name="biology" /></div>
      <div class="col"><span>History</span><input type="text" ngModel class="form-control" placeholder="History"
                                 name="history" /></div>
    </div>
    <div style="background-color:#90ee90" class="form-row">
      <div class="col"><span>Civics</span><input class="form-control" ngModel type="text" placeholder="Civics" name="civics" required /></div>
      <div class="col"><span>Economics</span><input class="form-control" ngModel type="text" placeholder="Economics" name="economics" required /></div>
      <div class="col"><span>English</span><input class="form-control" ngModel type="text" placeholder="English" name="english" required /></div>
      <div class="col"><span>Hindi</span><input class="form-control" ngModel type="text" placeholder="Hindi" name="hindi" required /></div>
      <div class="col">
        <button class="btn btn-primary btn-block text-white btn-user" type="submit" style="margin:auto;">Add</button>
      </div>
      </div>
  </div>
</form>
<div class="mat-elevation-z8">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>

  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- sfname Column -->
    <ng-container matColumnDef="sfname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>sfname</th>
      <td mat-cell *matCellDef="let row">{{row.sfname}}</td>
    </ng-container>

    <!-- slname Column -->
    <ng-container matColumnDef="slname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>slname</th>
      <td mat-cell *matCellDef="let row">{{row.slname}}</td>
    </ng-container>

    <!-- sid Column -->
    <ng-container matColumnDef="sid">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>sid</th>
      <td mat-cell *matCellDef="let row">{{row.sid}}</td>
    </ng-container>

    <!-- maths Column -->
    <ng-container matColumnDef="maths">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>maths</th>
      <td mat-cell *matCellDef="let row">{{row.maths}}</td>
    </ng-container>

    <!-- physics Column -->
    <ng-container matColumnDef="physics">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>physics</th>
      <td mat-cell *matCellDef="let row">{{row.physics}}</td>
    </ng-container>

    <!-- chemistry Column -->
    <ng-container matColumnDef="chemistry">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>chemistry</th>
      <td mat-cell *matCellDef="let row">{{row.chemistry}}</td>
    </ng-container>

    <!-- biology Column -->
    <ng-container matColumnDef="biology">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>biology</th>
      <td mat-cell *matCellDef="let row">{{row.biology}}</td>
    </ng-container>

    <!-- history Column -->
    <ng-container matColumnDef="history">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>history</th>
      <td mat-cell *matCellDef="let row">{{row.history}}</td>
    </ng-container>

    <!-- geography Column -->
    <ng-container matColumnDef="geography">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>geography</th>
      <td mat-cell *matCellDef="let row">{{row.geography}}</td>
    </ng-container>

    <!-- civics Column -->
    <ng-container matColumnDef="civics">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>civics</th>
      <td mat-cell *matCellDef="let row">{{row.civics}}</td>
    </ng-container>

    <!-- economics Column -->
    <ng-container matColumnDef="economics">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>economics</th>
      <td mat-cell *matCellDef="let row">{{row.economics}}</td>
    </ng-container>

    <!-- english Column -->
    <ng-container matColumnDef="english">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>english</th>
      <td mat-cell *matCellDef="let row">{{row.english}}</td>
    </ng-container>

    <!-- hindi Column -->
    <ng-container matColumnDef="hindi">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>hindi</th>
      <td mat-cell *matCellDef="let row">{{row.hindi}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


  </table>
  <mat-paginator #paginator
                 [length]="dataSource?.data.length"
                 [pageIndex]="0"
                 [pageSize]="30"
                 [pageSizeOptions]="[10,30, 50, 70, 100, 250]">
  </mat-paginator>

</div>
