<app-schoolnav></app-schoolnav>
<body>
  <section style="height: 700px;background-color: #9a4242;">
    <ngb-carousel *ngIf="images">
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="images[0]" alt="Random first slide">
        </div>
        <div class="carousel-caption">
          <h3>First slide label</h3>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="images[1]" alt="Random second slide">
        </div>
        <div class="carousel-caption">
          <h3>Second slide label</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="images[2]" alt="Random third slide">
        </div>
        <div class="carousel-caption">
          <h3>Third slide label</h3>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </ng-template>
    </ngb-carousel>

    Random second slide
  </section>
  <section style="height: 700px;background-color: #daa5a5;">
    <div class="row">
      <div class="col">
        <h1 style="background-color: #f5dfdf;">Sarva Siksha Abhiyaan</h1>
      </div>
    </div>
    <div class="row" style="height: 700px;">
      <div class="col">
        <p style="font-size: 20px;">
          ParagraphSarva Shiksha Abhiyan (SSA) is Government of India&#39;s flagship programme for achievement of Universalization of Elementary Education (UEE) in a time bound manner, as mandated by 86th amendment to the Constitution of India making
          free and compulsory Education to the Children of 6-14 years age group, a Fundamental Right.<br />SSA is being implemented in partnership with State Governments to cover the entire country and address the needs of 192 million children
          in 1.1 million habitations.<br />The programme seeks to open new schools in those habitations which do not have schooling facilities and strengthen existing school infrastructure through provision of additional class rooms, toilets,
          drinking water, maintenance grant and school improvement grants.<br />Existing schools with inadequate teacher strength are provided with additional teachers, while the capacity of existing teachers is being strengthened by extensive
          training, grants for developing teaching-learning materials and strengthening of the academic support structure at a cluster, block and district level.<br />SSA seeks to provide quality elementary education including life skills. SSA
          has a special focus on girl&#39;s education and children with special needs. SSA also seeks to provide computer education to bridge the digital divide.
        </p>
      </div>
      <div class="col"></div>
    </div>
  </section>
  <section style="height: 700px;background-color: #daa5a5;">
    <div class="row">
      <div class="col-xl-9">
        <h1 style="background-color: #f5dfdf;">Sarva Siksha Abhiyaan</h1>
      </div>
      <div class="col">
        <h1 style="background-color: #f5dfdf;">ljasdj</h1>
      </div>
    </div>
    <div class="row" style="height: 700px;">
      <div class="col"><img /></div>
      <div class="col">
        <p style="font-size: 20px;">
          ParagraphSarva Shiksha Abhiyan (SSA) is Government of India&#39;s flagship programme for achievement of Universalization of Elementary Education (UEE) in a time bound manner, as mandated by 86th amendment to the Constitution of India making
          free and compulsory Education to the Children of 6-14 years age group, a Fundamental Right.<br />SSA is being implemented in partnership with State Governments to cover the entire country and address the needs of 192 million children
          in 1.1 million habitations.<br />The programme seeks to open new schools in those habitations which do not have schooling facilities and strengthen existing school infrastructure through provision of additional class rooms, toilets,
          drinking water, maintenance grant and school improvement grants.<br />Existing schools with inadequate teacher strength are provided with additional teachers, while the capacity of existing teachers is being strengthened by extensive
          training, grants for developing teaching-learning materials and strengthening of the academic support structure at a cluster, block and district level.<br />SSA seeks to provide quality elementary education including life skills. SSA
          has a special focus on girl&#39;s education and children with special needs. SSA also seeks to provide computer education to bridge the digital divide.
        </p>
      </div>
    </div>
  </section>
  <section style="height: 700px;background-color: #daa5a5;">
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col">
            <h1>Notices</h1>
          </div>
        </div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col">
            <h1>Announcements</h1>
          </div>
        </div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
      </div>
    </div>
  </section>
</body>
