<app-schoolnav></app-schoolnav>
<body>
  <section style="background-color: #9a4242;">
    <ngb-carousel *ngIf="images">

      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="images[0]">
        </div>
        <div class="carousel-caption">
          <h3>Third slide label</h3>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="images[1]">
        </div>
        <div class="carousel-caption">
          <h3>Third slide label</h3>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </ng-template>

      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="images[2]" alt="Random third slide">
        </div>
        <div class="carousel-caption">
          <h3>Third slide label</h3>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </ng-template>





    </ngb-carousel>

    Random second slide
  </section>
  <section style="height: 700px;background-color: #d9e4f5;
background-image: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%);">
    <div class="row" style="background-color: #f9ea8f;
background-image: linear-gradient(315deg, #f9ea8f 0%, #aff1da 74%);">
      <div class="col">
        <h1>Sarva Siksha Abhiyaan</h1>
      </div>
    </div>
    <div class="row" style="height: 700px;">
      <div class="col">

        <p style="font-size: 20px;">
          ParagraphSarva Shiksha Abhiyan (SSA) is Government of India&#39;s flagship programme for achievement of Universalization of Elementary Education (UEE) in a time bound manner, as mandated by 86th amendment to the Constitution of India making
          free and compulsory Education to the Children of 6-14 years age group, a Fundamental Right.<br />SSA is being implemented in partnership with State Governments to cover the entire country and address the needs of 192 million children
          in 1.1 million habitations.<br />The programme seeks to open new schools in those habitations which do not have schooling facilities and strengthen existing school infrastructure through provision of additional class rooms, toilets,
          drinking water, maintenance grant and school improvement grants.<br />Existing schools with inadequate teacher strength are provided with additional teachers, while the capacity of existing teachers is being strengthened by extensive
          training, grants for developing teaching-learning materials and strengthening of the academic support structure at a cluster, block and district level.<br />SSA seeks to provide quality elementary education including life skills. SSA
          has a special focus on girl&#39;s education and children with special needs. SSA also seeks to provide computer education to bridge the digital divide.
        </p>
      </div>
      <div class="col">
        <img src="https://smedia2.intoday.in/aajtak/images/stories/012016/education-logo_650_012516030000.jpg" alt="Trulli" width="800">
      </div>
    </div>
  </section>
  <section style="height: 700px;background-color: #d9e4f5;
background-image: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%);">
    <div class="row" style="background-color: #f9ea8f;
background-image: linear-gradient(315deg, #f9ea8f 0%, #aff1da 74%);">
      <div class="col">
        <h1>Mid Day Meal</h1>
      </div>
    </div>
    <div class="row" style="height: 900px;">

      <div class="col">
        <img src="https://smedia2.intoday.in/aajtak/images/stories/012016/education-logo_650_012516030000.jpg" alt="Trulli" width="800" style="margin:auto;align-self:center;">
      </div>
      <div class="col">

        <p>
          With a view to enhancing enrolment, retention and attendance and simultaneously improving nutritional levels among children, the National Programme of Nutritional Support to Primary Education (NP-NSPE) was launched as a Centrally Sponsored Scheme on 15th August 1995.
          In 2001 MDMS became a cooked Mid Day Meal Scheme under which every child in every Government and Government aided primary school was to be served a prepared Mid Day Meal with a minimum content of 300 calories of energy and 8-12 gram protein per day for a minimum of 200 days. The Scheme was further extended in 2002 to cover not only children studying in Government, Government aided and local body schools, but also children studying in Education Guarantee Scheme (EGS) and Alternative & Innovative Education (AIE) centres.
          In September 2004 the Scheme was revised to provide for Central Assistance for Cooking cost @ Re 1 per child per school day to cover cost of pulses, vegetables cooking oil, condiments, fuel and wages and remuneration payable to personnel or amount payable to agency responsible for cooking. Transport subsidy was also raised from the earlier maximum of Rs 50 per quintal to Rs. 100 per quintal for special category states and Rs 75 per quintal for other states. Central assistance was provided for the first time for management, monitoring and evaluation of the scheme @ 2% of the cost of foodgrains, transport subsidy and cooking assistance. A provision for serving mid day meal during summer vacation in drought affected areas was also made.
          In July 2006 the Scheme was further revised to enhance the cooking cost to Rs 1.80 per child/school day for States in the North Eastern Region and Rs 1.50 per child / school day for other States and UTs. The nutritional norm was revised to 450 Calories and 12 gram of protein. In order to facilitate construction of kitchen-cum-store and procurement of kitchen devices in schools provision for Central assistance @ Rs. 60,000 per unit and @ Rs. 5,000 per school in phased manner were made.
          In October 2007, the Scheme was extended to cover children of upper primary classes (i.e. class VI to VIII) studying in 3,479 Educationally Backwards Blocks (EBBs) and the name of the Scheme was changed from ‘National Programme of Nutritional Support to Primary Education’ to ‘National Programme of Mid Day Meal in Schools’. The nutritional norm for upper primary stage was fixed at 700 Calories and 20 grams of protein. The Scheme was extended to all areas across the country from 1.4.2008.
          The Scheme was further revised in April 2008 to extend the scheme to recognized as well as unrecognized Madarsas / Maqtabs supported
        </p>
      </div>
    </div>
  </section>
  <section style="height: 700px;background-color: #daa5a5;">
    <div class="row">
      <div class="col" style="background-color: #84fb95;
background-image: linear-gradient(315deg, #84fb95 0%, #cef576 74%);">
        <div class="row">
          <div class="col">
            <h1>Notices</h1>
          </div>
        </div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
      </div>
      <div class="col" style="background-color: #f8ef42;
background-image: linear-gradient(315deg, #f8ef42 0%, #0fd64f 74%);">
        <div class="row">
          <div class="col">
            <h1>Announcements</h1>
          </div>
        </div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
      </div>
    </div>
  </section>
</body>
