<app-schoolnav></app-schoolnav>
<div class="row">
  <div class="col"><h1>Student Details</h1></div>
  <div class="col-xl-3 d-inline-flex justify-content-center align-items-center align-content-center m-auto" style="width: 60px;"><button class="btn btn-primary align-self-center" (click)="onExport()">Export</button></div>
</div>
<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div class="form-group">
    <div style="background-color:#90ee90" class="form-row">
      <div class="col">
        <span>Student First Name</span><input type="text" ngModel class="form-control" placeholder="sfn" required
                                              name="sfname" />
      </div>
      <div class="col"><span>Student Last Name</span><input type="text" ngModel class="form-control" placeholder="sln" name="slname" /></div>
      <div class="col">
        <span>father's first name</span><input type="text" ngModel class="form-control" placeholder="ffn"
                                               name="ffn" />
      </div>
      <div class="col">
        <span>father's last name</span><input type="text" ngModel class="form-control" placeholder="fln"
                                              name="fln" />
      </div>
      <div class="col">
        <span>mother's first name</span><input type="text" ngModel class="form-control"
                                               placeholder="mfn"
                                               name="mfn" />
      </div>
      <div class="col">
        <span>mothers's last name</span><input type="text" ngModel class="form-control" placeholder="mln"
                                               name="mln" />
      </div>
      <div class="col">
        <span>email</span><input type="email" ngModel class="form-control" placeholder="email"
                                 name="email" />
      </div>
      <div class="col">
        <span>address</span><input type="text" ngModel class="form-control" placeholder="add"
                                   name="add" />
      </div>
      <div class="col"><span>date of birth</span><input class="form-control" ngModel type="date" placeholder="dob" name="dob" required /></div>
      <div class="col"><span>sex</span><input class="form-control" ngModel type="text" placeholder="sex" name="sex" required /></div>
    </div>
    <div style="background-color:#90ee90" class="form-row">
      <div class="col"><span>school id</span><input class="form-control" ngModel type="number" placeholder="sid" name="sid" required /></div>
      <div class="col"><span>class</span><input class="form-control" ngModel type="number" placeholder="class" name="class" required /></div>
      <div class="col"><span>code</span><input class="form-control" ngModel type="text" placeholder="code" name="code" required /></div>
      <div class="col"><span>phone</span><input class="form-control" ngModel type="text" placeholder="phone" name="phone" required /></div>
      <div class="col"><span>aadhar number</span><input class="form-control" ngModel type="text" placeholder="adn" name="adn" required /></div>
      <div class="col"><span>age</span><input class="form-control" ngModel type="text" placeholder="age" name="age" required /></div>
      <div class="col"><span>weight</span><input class="form-control" ngModel type="text" placeholder="weight" name="weight" required /></div>
      <div class="col"><span>eye sight</span><input class="form-control" ngModel type="text" placeholder="eye" name="eye" required /></div>
      <div class="col"><span>past diseases</span><input class="form-control" ngModel type="text" placeholder="diseases" name="diseases" required /></div>
      <div class="col">
        <button class="btn btn-primary btn-block text-white btn-user" type="submit" style="margin:auto;">Add</button>
      </div>
    </div>
  </div>
</form>
<div class="mat-elevation-z8">
  <mat-paginator #paginator
                 [length]="dataSource?.data.length"
                 [pageIndex]="0"
                 [pageSize]="50"
                 [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="sfname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Student First Name</th>
      <td mat-cell *matCellDef="let row">{{row.sfname}}</td>
    </ng-container>
    <ng-container matColumnDef="slname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Student Last Name</th>
      <td mat-cell *matCellDef="let row">{{row.slname}}</td>
    </ng-container>
    <ng-container matColumnDef="sffname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Father's First Name</th>
      <td mat-cell *matCellDef="let row">{{row.sffname}}</td>
    </ng-container>
    <ng-container matColumnDef="sflname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Father's Last Name</th>
      <td mat-cell *matCellDef="let row">{{row.sflname}}</td>
    </ng-container>
    <ng-container matColumnDef="smfname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Mother's First Name</th>
      <td mat-cell *matCellDef="let row">{{row.smfname}}</td>
    </ng-container>
    <ng-container matColumnDef="smlname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Mother's Last Name</th>
      <td mat-cell *matCellDef="let row">{{row.smlname}}</td>
    </ng-container>
    <ng-container matColumnDef="semail">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let row">{{row.semail}}</td>
    </ng-container>
    <ng-container matColumnDef="saddr">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
      <td mat-cell *matCellDef="let row">{{row.saddr}}</td>
    </ng-container>
    <ng-container matColumnDef="sdob">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date of Birth</th>
      <td mat-cell *matCellDef="let row">{{row.sdob}}</td>
    </ng-container>
    <ng-container matColumnDef="ssex">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Sex</th>
      <td mat-cell *matCellDef="let row">{{row.ssex}}</td>
    </ng-container>
    <ng-container matColumnDef="ssid">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>School Id</th>
      <td mat-cell *matCellDef="let row">{{row.ssid}}</td>
    </ng-container>
    <ng-container matColumnDef="sclass">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Class</th>
      <td mat-cell *matCellDef="let row">{{row.sclass}}</td>
    </ng-container>
    <ng-container matColumnDef="sccode">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Code</th>
      <td mat-cell *matCellDef="let row">{{row.sccode}}</td>
    </ng-container>
    <ng-container matColumnDef="sphone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
      <td mat-cell *matCellDef="let row">{{row.sphone}}</td>
    </ng-container>
    <ng-container matColumnDef="saadhar">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Aadhar No.</th>
      <td mat-cell *matCellDef="let row">{{row.saadhar}}</td>
    </ng-container>
    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>age</th>
      <td mat-cell *matCellDef="let row">{{row.age}}</td>
    </ng-container>
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>weight</th>
      <td mat-cell *matCellDef="let row">{{row.weight}}</td>
    </ng-container>
    <ng-container matColumnDef="eye">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>eye sight</th>
      <td mat-cell *matCellDef="let row">{{row.eye}}</td>
    </ng-container>
    <ng-container matColumnDef="diseases">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>past diseases</th>
      <td mat-cell *matCellDef="let row">{{row.diseases}}</td>
    </ng-container>

    <!-- Name Column -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>


</div>
