<app-schoolnav></app-schoolnav>
<div class="row">
  <div class="col"><h1>Student Details</h1></div>
  <div class="col-xl-3 d-inline-flex justify-content-center align-items-center align-content-center m-auto" style="width: 60px;"><button class="btn btn-primary align-self-center" (click)="onExport()">Export</button></div>
</div>
<div class="mat-elevation-z8">
  <mat-paginator #paginator
                 [length]="dataSource?.data.length"
                 [pageIndex]="0"
                 [pageSize]="50"
                 [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="sfname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Student First Name</th>
      <td mat-cell *matCellDef="let row">{{row.sfname}}</td>
    </ng-container>
    <ng-container matColumnDef="slname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Student Last Name</th>
      <td mat-cell *matCellDef="let row">{{row.slname}}</td>
    </ng-container>
    <ng-container matColumnDef="sffname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Father's First Name</th>
      <td mat-cell *matCellDef="let row">{{row.sffname}}</td>
    </ng-container>
    <ng-container matColumnDef="sflname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Father's Last Name</th>
      <td mat-cell *matCellDef="let row">{{row.sflname}}</td>
    </ng-container>
    <ng-container matColumnDef="smfname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Mother's First Name</th>
      <td mat-cell *matCellDef="let row">{{row.smfname}}</td>
    </ng-container>
    <ng-container matColumnDef="smlname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Mother's Last Name</th>
      <td mat-cell *matCellDef="let row">{{row.smlname}}</td>
    </ng-container>
    <ng-container matColumnDef="semail">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let row">{{row.semail}}</td>
    </ng-container>
    <ng-container matColumnDef="saddr">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
      <td mat-cell *matCellDef="let row">{{row.saddr}}</td>
    </ng-container>
    <ng-container matColumnDef="sdob">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date of Birth</th>
      <td mat-cell *matCellDef="let row">{{row.sdob}}</td>
    </ng-container>
    <ng-container matColumnDef="ssex">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Sex</th>
      <td mat-cell *matCellDef="let row">{{row.ssex}}</td>
    </ng-container>
    <ng-container matColumnDef="ssid">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>School Id</th>
      <td mat-cell *matCellDef="let row">{{row.ssid}}</td>
    </ng-container>
    <ng-container matColumnDef="sclass">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Class</th>
      <td mat-cell *matCellDef="let row">{{row.sclass}}</td>
    </ng-container>
    <ng-container matColumnDef="sccode">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Code</th>
      <td mat-cell *matCellDef="let row">{{row.sccode}}</td>
    </ng-container>
    <ng-container matColumnDef="sphone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
      <td mat-cell *matCellDef="let row">{{row.sphone}}</td>
    </ng-container>
    <ng-container matColumnDef="saadhar">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Aadhar No.</th>
      <td mat-cell *matCellDef="let row">{{row.saadhar}}</td>
    </ng-container>
   
    <!-- Name Column -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>


</div>
