<div class="container">
  <div>
    <form >
      <div class="form-group">
        <div id="formdiv">
          <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
            <div class="col-md-8 offset-md-1">
              <p style="margin-left:2%;font-family:Roboto, sans-serif;font-size:24px;"><strong>Officer&#39;s Name </strong></p>
            </div>
            <div class="col-md-10 offset-md-1"><input class="form-control" type="text" style="margin-left:0px;font-family:Roboto, sans-serif;" name="name" placeholder="Name" required ngModel/></div>
          </div>
          <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;margin-top:-16px;">
            <div class="col-md-8 offset-md-1">
              <p style="margin-left:2%;font-family:Roboto, sans-serif;font-size:24px;">Alloted School</p>
            </div>
            <div class="col-md-8 offset-md-1"><select class="form-control" style="font-family:Roboto, sans-serif;" name="gender"><optgroup label="This is a group"><option value="12" selected>This is item 1</option><option value="13">This is item 2</option><option value="14">This is item 3</option></optgroup></select></div>
            <div class="col-md-10 offset-md-1">
              <p style="margin-left:2%;font-family:Roboto, sans-serif;font-size:24px;">Inspection status</p>
            </div>
            <div class="col-md-10 offset-md-1"><select class="form-control" style="font-family:Roboto, sans-serif;" name="gender"><optgroup label="This is a group"><option value="12" selected>This is item 1</option><option value="13">This is item 2</option><option value="14">This is item 3</option></optgroup></select></div>
          </div>
          <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
            <div class="col-md-8 offset-md-1">
              <p style="margin-left:2%;font-family:Roboto, sans-serif;font-size:24px;">Officer&#39;s Qualification</p>
            </div>
            <div class="col-md-10 offset-md-1"><input class="form-control" type="text" placeholder="Qualification" required ngModel /></div>
          </div>
          <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
            <div class="col-md-8 offset-md-1">
              <p style="margin-left:2%;font-family:Roboto, sans-serif;font-size:24px;" placeholder="Email Id" email required ngModel>Email Id</p>
            </div>
            <div class="col-md-10 offset-md-1"><input class="form-control" type="email" /></div>
          </div>
          <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
            <div class="col-md-8 offset-md-1">
              <p style="margin-left:2%;font-family:Roboto, sans-serif;font-size:24px;">Administrative Data</p>
            </div>
            <div class="col-md-10 offset-md-1" style="font-family:Roboto, sans-serif;"><textarea class="form-control" placeholder="Administrative Data" required ngModel></textarea></div>
          </div>
          <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
            <div class="col-md-8 offset-md-1">
              <p style="margin-left:2%;font-family:Roboto, sans-serif;font-size:24px;">Fund Provided</p>
            </div>
            <div class="col-md-10 offset-md-1"><input class="form-control" type="text" style="margin-left:0px;font-family:Roboto, sans-serif;" placeholder="Fund" required ngModel /></div>
          </div>
          <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
            <div class="col-md-8 offset-md-1">
              <p style="margin-left:2%;font-family:Roboto, sans-serif;font-size:24px;">District</p>
            </div>
            <div class="col-md-10 offset-md-1"><select class="form-control"><optgroup label="This is a group"><option value="12" selected>This is item 1</option><option value="13">This is item 2</option><option value="14">This is item 3</option></optgroup></select></div>
          </div>
          <div class="form-row" style="margin-right: 0px;margin-left: 0px;padding-top: 24px;">
            <div class="col-md-8 offset-md-1">
              <p style="margin-left:2%;font-family:Roboto, sans-serif;font-size:24px;">Block</p>
            </div>
            <div class="col-md-10 offset-md-1"><select class="form-control"><optgroup label="This is a group"><option value="12" selected>This is item 1</option><option value="13">This is item 2</option><option value="14">This is item 3</option></optgroup></select></div>
          </div>
          <div class="btn-group" role="group" style="margin-left: 326px;"><a class="btn btn-primary" role="button" style="margin-top: 10px;">clear</a><a class="btn btn-primary" role="button" style="margin-top: 10px;">submit</a></div>
        </div>
      </div>
    </form>
  </div>
</div>
