<body>
    <header id="header">
      <h1 id="logo">Logo</h1>
      <nav id="nav">
        <ul>
          <li><a routerLink="/gallery" style="font-family:Orbitron">Item1</a></li>
          <li>
            <a routerLink="/upcoming" style="font-family:Orbitron">Item2</a>
            
          </li>
          <li><a routerLink="/past" style="font-family:Orbitron">Item3</a></li>
          <li>
           <a routerLink="/signup" class="button primary" style="font-family:Orbitron;">Sign Up</a>
          </li>
          <li>
            <a routerLink="/login" class="button primary" style="background-color: #000000;font-family:Orbitron;color:white;
      background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);">Log in</a>
          </li>
        </ul>
      </nav>
    </header>
</body>
