<app-schoolnav></app-schoolnav>
    <div class="col-xl-3 d-inline-flex justify-content-center align-items-center align-content-center m-auto" style="width: 60px;"><button class="btn btn-primary align-self-center" (click)="onExport()">Export</button></div>

<mdb-card>
  <mdb-card-body>
    <mdb-card-title>
    </mdb-card-title>
    <mdb-card-text>

      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group">
          <div style="background-color:#90ee90" class="form-row">
            <div class="col">
              <span>First Name</span><input type="text" ngModel class="form-control" placeholder="First Name" required
                                            name="tfname" />
            </div>
            <div class="col"><span>Last Name</span><input type="text" ngModel class="form-control" placeholder="Last Name" name="tlname" /></div>
            <div class="col">
              <span>email</span><input type="email" ngModel class="form-control" placeholder="email"
                                       name="temail" />
            </div>
            <div class="col">
              <span>address</span><input type="text" ngModel class="form-control" placeholder="address"
                                         name="taddr" />
            </div>
            <div class="col">
              <span>date of birth</span><input type="date" ngModel class="form-control"
                                               placeholder="dob"
                                               name="tdob" />
            </div>
            <div class="col">
              <span>qualification</span><input type="text" ngModel class="form-control" placeholder="qualification"
                                               name="tqual" />
            </div>
            <div class="col">
              <span>sex</span><input type="text" ngModel class="form-control" placeholder="sex"
                                     name="tsex" />
            </div>
            <div class="col">
              <span>Teacher's id</span><input type="text" ngModel class="form-control" placeholder="tid"
                                              name="tsid" />
            </div>
          </div>
          <div style="background-color:#90ee90" class="form-row">
            <div class="col"><span>date of joining</span><input class="form-control" ngModel type="date" placeholder="doj" name="tdoj" required /></div>
            <div class="col"><span>subject</span><input class="form-control" ngModel type="text" placeholder="sub" name="tsub" required /></div>
            <div class="col"><span>class alloted</span><input class="form-control" ngModel type="number" placeholder="class" name="tclass" required /></div>
            <div class="col"><span>country code</span><input class="form-control" ngModel type="text" placeholder="cc" name="tccode" required /></div>
            <div class="col"><span>phone</span><input class="form-control" ngModel type="text" placeholder="phone" name="tphone" required /></div>
            <div class="col"><span>aadhar number</span><input class="form-control" ngModel type="text" placeholder="adn" name="taadhar" required /></div>
            <div class="col"><span>account details</span><input class="form-control" ngModel type="text" placeholder="account detail" name="tacname" required /></div>
            <div class="col">
              <button class="btn btn-primary btn-block text-white btn-user" type="submit" style="margin:auto;">Add</button>
            </div>
          </div>
        </div>
      </form>
    </mdb-card-text>

  </mdb-card-body>
</mdb-card>
<mdb-card><div class="mat-elevation-z8">

  <mat-paginator #paginator
                 [length]="dataSource?.data.length"
                 [pageIndex]="0"
                 [pageSize]="50"
                 [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="tfname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
      <td mat-cell *matCellDef="let row">{{row.tfname}}</td>
    </ng-container>
    <ng-container matColumnDef="tlname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
      <td mat-cell *matCellDef="let row">{{row.tlname}}</td>
    </ng-container>
    <ng-container matColumnDef="temail">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let row">{{row.email}}</td>
    </ng-container>
    <ng-container matColumnDef="taddr">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
      <td mat-cell *matCellDef="let row">{{row.taddr}}</td>
    </ng-container>
    <ng-container matColumnDef="tdob">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date of Birth</th>
      <td mat-cell *matCellDef="let row">{{row.tdob}}</td>
    </ng-container>
    <ng-container matColumnDef="tqual">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Qualification</th>
      <td mat-cell *matCellDef="let row">{{row.tqual}}</td>
    </ng-container>
    <ng-container matColumnDef="tsex">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Sex</th>
      <td mat-cell *matCellDef="let row">{{row.tsex}}</td>
    </ng-container>
    <ng-container matColumnDef="tsid">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{row.tsid}}</td>
    </ng-container>
    <ng-container matColumnDef="tdoj">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date of Joining</th>
      <td mat-cell *matCellDef="let row">{{row.tdoj}}</td>
    </ng-container>
    <ng-container matColumnDef="tsub">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Subject</th>
      <td mat-cell *matCellDef="let row">{{row.tsub}}</td>
    </ng-container>
    <ng-container matColumnDef="tclass">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Class Alloted</th>
      <td mat-cell *matCellDef="let row">{{row.tclass}}</td>
    </ng-container>
    <ng-container matColumnDef="tccode">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Country Code</th>
      <td mat-cell *matCellDef="let row">{{row.tccode}}</td>
    </ng-container>
    <ng-container matColumnDef="tphone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
      <td mat-cell *matCellDef="let row">{{row.tphone}}</td>
    </ng-container>
    <ng-container matColumnDef="taadhar">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Aadhar</th>
      <td mat-cell *matCellDef="let row">{{row.taadhar}}</td>
    </ng-container>
    <ng-container matColumnDef="tacname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Account Details</th>
      <td mat-cell *matCellDef="let row">{{row.tacname}}</td>
    </ng-container>
    <!-- Name Column -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div></mdb-card>

