<div class="footer-dark">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3 item">
          <h3>Services</h3>
          <ul>
            <li><a href="#">Sitemap</a></li>
            <li><a href="#">Disclaimer</a></li>
            <li><a href="#"></a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-3 item">
          <h3>About</h3>
          <ul>
            <li><a href="http://www.sikkim.nic.in/">Sikkim Government</a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
          </ul>
        </div>
        <div class="col-md-6 item text">
          <h3>Sikkim Education Portal</h3>
          <p>this site is hosted by sikkim government for database management of schools in state.</p>
        </div>
        <div class="col item social">
          <ul>
            <B><u>Contact Us</u></B>
            <br />
            <br />
            <a href="https://m.facebook.com/NIT.SIKKIM/"><img src="assets/f.png" height="30px" width="30px" />facebook</a>
            <br />
            <br />
            <a href="https://twitter.com/sikkimgovt?lang=en"><img src="assets/tweet.png" height="25px" width="30px" />twitter</a>
          </ul>

        </div>
      </div>
      <p class="copyright">Sikkim Education Portal © 2020</p>
    </div>
  </footer>

