<app-schoolnav></app-schoolnav>

<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="ntfname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
      <td mat-cell *matCellDef="let row">{{row.ntfname}}</td>
    </ng-container>
    <ng-container matColumnDef="ntlname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
      <td mat-cell *matCellDef="let row">{{row.ntlname}}</td>
    </ng-container>

    <ng-container matColumnDef="ntqual">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Qualification</th>
      <td mat-cell *matCellDef="let row">{{row.ntqual}}</td>
    </ng-container>
    <ng-container matColumnDef="ntdob">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date of Birth</th>
      <td mat-cell *matCellDef="let row">{{row.ntdob}}</td>
    </ng-container>
    <ng-container matColumnDef="ntsex">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Sex</th>
      <td mat-cell *matCellDef="let row">{{row.ntsex}}</td>
    </ng-container>
    <ng-container matColumnDef="ntaddr">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
      <td mat-cell *matCellDef="let row">{{row.ntaddr}}</td>
    </ng-container>
    <ng-container matColumnDef="ntdoj">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date of Joining</th>
      <td mat-cell *matCellDef="let row">{{row.ntdoj}}</td>
    </ng-container>
    <ng-container matColumnDef="ntphone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
      <td mat-cell *matCellDef="let row">{{row.ntphone}}</td>
    </ng-container>
    <ng-container matColumnDef="ntaadhar">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Aadhar</th>
      <td mat-cell *matCellDef="let row">{{row.aadhar}}</td>
    </ng-container>

    <!-- Name Column -->


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="50"
      [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>
