<app-schoolnav></app-schoolnav>
<div class="container" style="margin:auto;">
  <div class="card shadow-lg o-hidden border-0 my-5">
    <div class="card-body p-0">
      <div class="row">
        <div class="col-lg-5 d-none d-lg-flex">
          <div class="flex-grow-1 bg-register-image" style="background-image: url('assets/back.jpg');"></div>
        </div>
        <div class="col-lg-7">
          <div class="p-5">
            <div class="text-center">
              <h4 class="text-dark mb-4">Create an Account!</h4>
            </div><span>Name</span>
            <form class="user" (ngSubmit)="onSubmit(f)" #f="ngForm">
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-1">
                  <input type="text"
                         class="form-control form-control-user"
                         placeholder="First Name" required
                         name="ntfname"
                         style="background-color: rgb(239,235,235);margin:auto;"
                         ngModel />
                </div>
                <div class="col-sm-6">
                  <input type="text"
                         ngModel
                         class="form-control form-control-user" placeholder="Last Name" name="ntlname" style="background-color: rgb(239,235,235);margin:auto;" />
                </div>
              </div>
              <span>Qualification</span>
              <div class="form-row">
                <div class="col">
                  <input type="text"
                         class="form-control"
                         ngModel
                         name="ntqual" required
                         style="background-color: rgb(239,235,235);" />
                </div>
              </div>
              <span>Date of Birth</span>
              <div class="form-group row">
                <input class="form-control" required
                       ngModel
                       name="ntdob"
                       type="date"
                       style="background-color: rgb(239,235,235);" />
              </div>

              <span>Sex</span>
              <div class="form-row">
                <div class="col d-inline-flex align-items-center m-auto" *ngFor="let ntsex of genders"><input type="radio" name="ntsex" ngModel [value]="ntsex" /><span>{{ntsex}}</span></div>
              </div>
              <div class="form-group row"><span>Permanent Address</span></div>
              <div class="form-row">
                <div class="col">
                  <input type="text"
                         class="form-control"
                         ngModel
                         name="ntaddr" required
                         style="background-color: rgb(239,235,235);" />
                </div>
              </div>
              <span>School Name</span>
              <div class="form-group row"><input type="text" required class="form-control" style="background-color: rgb(239,235,235);" ngModel name="ntdoj" /></div><span>Date of Joining</span>
              <div class="form-row">
                <div class="col"><select class="form-control" required style="background-color: rgb(239,235,235);"><optgroup label="This is a group"><option value="12" selected>This is item 1</option><option value="13">This is item 2</option><option value="14">This is item 3</option></optgroup></select><span>E-mail</span></div>
              </div>
              <span>Phone No.</span>
              <div class="form-row">
                <div class="col-xl-3" style="width: 30px;"><input type="text" required class="form-control d-flex justify-content-center align-items-center align-content-center m-auto" style="width: 80px;" value="+91" name="sccode" placeholder="+91" /></div>
                <div class="col"><input type="text" class="form-control" required placeholder="Phone Number" name="tphone" style="background-color: rgb(239,235,235);" /></div>
              </div><span>Aadhar Number</span>
              <div class="form-row">
                <div class="col"><input type="text" class="form-control" required placeholder="Aadhar No." name="taadhar" style="background-color: rgb(239,235,235);" /></div>
              </div>
              <hr /><button class="btn btn-primary btn-block text-white btn-user" type="submit">Register Account</button>
              <hr />
            </form>
            <div class="text-center"><a class="small" href="forgot-password.html">Forgot Password?</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
</div>
